    <{if (!empty($block.geocn))}>
      <{if (!empty($block.geoflag))}><img style="<{$block.geoflagstyle}>" src="<{$block.geoflag}>" alt="" /><br /><{/if}>
      <{if ($block.mapping_site == 1)}>
        &para; <a href="javascript:newwindow('http://www.mapquest.com/maps/map.adp?latlongtype=decimal&amp;latitude=<{$block.geolat}>&amp;longitude=<{$block.geolon}>&amp;zoom=0');"><{$block.geocn}></a><br />
      <{elseif ($block.mapping_site == 2)}>
        &para; <a href="javascript:newwindow('http://www.multimap.com/map/browse.cgi?lat=<{$block.geolat}>&amp;lon=<{$block.geolon}>&amp;scale=40000000&amp;icon=x');"><{$block.geocn}></a><br />
      <{else}>
        &para; <{$block.geocn}><br />
      <{/if}>
    <{/if}>
    &para; <{$block.lang_clientip}> : <{$block.host}><br />
    &para; <{$block.lang_clientos}> : <{$block.platform}> <{$block.os}><br />
    &para; <{$block.lang_clientbrowser}> : <{$block.long_name}> <{$block.version}><br />
    &para; <{$block.lang_clientua}> : <{$block.ua}>

    <script type="text/javascript">
    function newwindow(link) {
        newWin = window.open(link);
        newWin.focus();
    }
    </script>
